@using GestionScolaire.Areas.Administration.Models
@model IEnumerable<PeriodeModels>

@{
    ViewBag.Title = "ReadPeriodes";
}

<h2>Periodes</h2>

<table class="table">

    <tr>
        <th>Début</th>
        <th>Fin</th>
        <th>Année</th>
    </tr> 
    @foreach(PeriodeModels periode in Model)
    {
        <tr>
            <td colspan=2>@Html.ActionLink(periode.begin.ToShortDateString() + " - " + periode.end.ToShortDateString(), "ReadPeriode", "Administration", new {id = periode.id}, new { target = "_blank" })
            </td>
            <td>@Html.ActionLink(periode.year.ToString(), "ReadAnnee", "Administration", new {id = periode.yearId}, new { target = "_blank" })</td>
        </tr>
    }
</table>
