@using GestionScolaire.Areas.Administration.Models
@model CycleModels

@{
    ViewBag.Title = @Model.title;
}

<h2>Cycle @Model.title</h2>

<p>Le cycle @Model.title est composé des différents niveaux suivants :</p>

        @foreach(NiveauModels niveau in Model.niveaux)
        {
            @Html.ActionLink(niveau.title, "ReadNiveau", "Administration", new {id = niveau.id}, new { target = "_blank" })
        }
