@using GestionScolaire.Models
@model IEnumerable<AnneeModels>

@{
    ViewBag.Title = "ReadAnnees";
}

<h2>Années</h2>

<table class="table">


    <tr>
        <th>Id</th>
        <th>Année</th>
    </tr> 
    @foreach(AnneeModels annee in Model)
    {
        <tr>
            <td>@annee.id</td>
            <td>@Html.ActionLink(annee.year.ToString(), "ReadAnnee", "Administration", new {area = "Administration",id = annee.id}, new { target = "_blank" })</td>
        </tr>
    }
</table>

