@using GestionScolaire.Areas.Administration.Models
@model IEnumerable<CycleModels>

@{
    ViewBag.Title = "Cycles";
}

<h2>Cycles</h2>

 @*<table class="table">*@


    @*<tr>
        x<th>Id</th>
        <th>Titre</th>
    </tr>*@ 
    @foreach(CycleModels cycle in Model)
    {
        @* <tr>
            <td>@cycle.id</td>
            <td>*@ 
            @Html.ActionLink(cycle.title, "ReadCycle", "Administration", new {id = cycle.id}, null)@*</td>*@
    }
 @*</table>*@

