@using GestionScolaire.Areas.Administration.Models
@model IEnumerable<CycleModels>

@{
    ViewBag.Title = "Cycles";
}

<h2>Cycles</h2>

 <table class="table">


    <tr>
        <th>Id</th>
        <th>Titre</th>
    </tr>
    @foreach(CycleModels cycle in Model)
    {
         <tr>
            <td>@cycle.id</td>

            <td>@Html.ActionLink(cycle.title, "ReadCycle", "Administration", new {area = "Administration",id = cycle.id}, new { target = "_blank" })</td>
        </tr>

    }
 </table>

