@using GestionScolaire.Areas.Administration.Models
@model IEnumerable<CycleModels>

@{
    ViewBag.Title = "Cycles";
}

<h2>Cycles</h2>

    @foreach(CycleModels cycle in Model)
    {

            @Html.ActionLink(cycle.title, "ReadCycle", "Administration", new {id = cycle.id}, new { target = "_blank" })
    }


