@using GestionScolaire.Areas.Administration.Models
@model IEnumerable<NiveauModels>

@{
    ViewBag.Title = "ReadNiveaux";
}

<h2>Niveaux</h2>

    @foreach(NiveauModels niveau in Model)
    {
        @Html.ActionLink(niveau.title, "ReadNiveau", "Administration", new {id = niveau.id}, new { target = "_blank" })

    }


