@using GestionScolaire.Areas.Administration.Models
@model IEnumerable<AnneeModels>

@{
    ViewBag.Title = "ReadAnnees";
}

<h2>Années</h2>


    @foreach(AnneeModels annee in Model)
    {
      
      @Html.ActionLink(annee.year.ToString(), "ReadAnnee", "Administration", new {id = annee.id}, new { target = "_blank" })
       
    }


