@using GestionScolaire.Areas.Administration.Models
@model NiveauModels

@{
    ViewBag.Title = @Model.title;
}
<h2>Niveau @Model.title</h2>

<p>Le niveau @Model.title appartient au cycle :</p>
    @Html.ActionLink(Model.cycleTitle, "ReadCycle", "Administration", new {id = Model.cycleId}, null)

