@using GestionScolaire.Models
@model IEnumerable<NiveauModels>

@{
    ViewBag.Title = "ReadNiveaux";
}

<h2>Niveaux</h2>

<table class="table">


    <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Cycle</th>
    </tr> 
    @foreach(NiveauModels niveau in Model)
    {
        <tr>
            <td>@niveau.id</td>
            <td>@Html.ActionLink(niveau.title, "ReadNiveau", "Administration", new {area = "Administration",id = niveau.id}, new { target = "_blank" })</td>
            <td>@niveau.cycleTitle</td>
        </tr>
    }
</table>

