@using GestionScolaire.Areas.Administration.Models
@model AnneeModels

@{
    ViewBag.Title = "Année " + Model.year;
}


<h2>Année @Model.year</h2>

<p>L'année scolaire @Model.year est composée des périodes suivantes :</p>
@foreach(PeriodeModels periode in Model.periods)
{
    @Html.ActionLink(periode.begin.ToString() + " - " + periode.end.ToString(), "ReadPeriode", "Administration", new {id = periode.id}, null)
}
