@using GestionScolaire.Models
@model CycleModels

@{
    ViewBag.Title = @Model.title;
}

<h2>Cycle @Model.title</h2>

<table class="table">
    <tr>
        <td>@Model.id</td>
        <td>@Model.title</td>
    </tr>
</table>
