@{
    ViewBag.Title = "GestionDesClasses";
}

<h2>GestionDesClasses</h2>

 @Html.ActionLink("Afficher les academies", "ReadAcademies", "GestionDesClasses", new {area ="GestionDesClasses"}, null)
 @Html.ActionLink("Afficher les etablissements", "ReadEtablissements", "GestionDesClasses", new {area = "GestionDesClasses"}, null)
 @Html.ActionLink("Afficher les Classes", "ReadClasses", "GestionDesClasses", new {area = "GestionDesClasses"}, null)
