@{
    ViewBag.Title = "GestionDesClasses";
}

<h2>Etablissements & Classes</h2>

 @Html.ActionLink("Afficher les académies", "ReadAcademies", "GestionDesClasses", new {area ="GestionDesClasses"}, null)
 @Html.ActionLink("Afficher les établissements", "ReadEtablissements", "GestionDesClasses", new {area = "GestionDesClasses"}, null)
 @Html.ActionLink("Afficher les classes", "ReadClasses", "GestionDesClasses", new {area = "GestionDesClasses"}, null)
