@using GestionScolaire.Areas.Eleves.Models
@model IEnumerable<TuteurModels>

@{
    ViewBag.Title = "ReadTuteurs";
}

<h2>Ensemble des tuteurs</h2>

<div class="create">
    @Html.ActionLink("Creation d'un nouveau tuteur", "CreateTuteur")
</div>

<div id="search">
@using(Ajax.BeginForm("SearchTuteurs", "Eleves",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "tuteur"
    }))
{
  <input type="text" name="query" />
  <input type="submit" value="Filtrer par nom" /> 
}
</div>

@Html.Partial("_tuteursList")
