@{
    ViewBag.Title = "Eleves";
}

<h2>Eleves</h2>

 @Html.ActionLink("Afficher les élèves", "ReadEleves", "Eleves", new {area = "Eleves"}, null)
 @Html.ActionLink("Afficher les tuteurs", "ReadTuteurs", "Eleves", new {area = "Eleves"}, null)
