@using GestionScolaire.Areas.GestionDesClasses.Models
@model AcademieModels

@{
    ViewBag.Title = "Delete";
}

<h2>Suppression de  @Model.name</h2>

@Html.ValidationSummary(true)

@{Html.BeginForm("DeleteAcademie", "GestionDesClasses", FormMethod.Post);}
@Html.HiddenFor(model => model.id)
<h3>Voulez-vous vraiment supprimer cet élément !??</h3>
<br />
@*<table class="table suppression">
    <tr>
        <td>*@
    <div id="suppression">
        <button type="button">Oui</button>
        <button type="button">@Html.ActionLink("Non", "Index", "GestionDesClasses")</button>
    </div>
        @*</td>
    </tr>
</@*table>*@
@{Html.EndForm();}
