@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<ClasseModels>

@{
    ViewBag.Title = "ReadClasses";
}

<h2>Ensemble des Classes</h2>

<div class="create">
     @Html.ActionLink("Création d'une nouvelle classe", "CreateClasse")
</div>

<div id="search">
@using(Ajax.BeginForm("SearchClasses", "GestionDesClasses",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "classe"
    }))
{
  <input type="text" name="query" />
  <input type="submit" value="Filtrer par nom" /> 
}
</div>

@Html.Partial("_classesList")