@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<UserModels>

@{
    ViewBag.Title = "ReadUsers";
}

<h2>Liste des professeurs</h2>

<div class="create">
     @Html.ActionLink("Création d'un nouveau professeur", "CreateUser")
</div>

<div id="search">
@using(Ajax.BeginForm("SearchUsers", "GestionDesClasses",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "user"
    }))
{
  <input type="text" name="query" />
  <input type="submit" value="Filtrer par nom" /> 
}
</div>

@Html.Partial("_usersList")