@using GestionScolaire.Areas.GestionDesClasses.Models
@model AcademieModels

@{
    ViewBag.Title = "Details";
}

<h2>Académie de @Model.name</h2>
@Html.ActionLink("Edit", "EditAcademie", new { id = Model.id })
<p>Liste des établissements présents dans cette académie :</p>
@foreach(EtablissementModels e in Model.etablissements)
{
    @Html.ActionLink(e.name, "ReadEtablissement", "GestionDesClasses", new {id = e.id}, new { target = "_blank" })
}

<br />
@Html.ActionLink("Back to List", "ReadAcademies")

