@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<EtablissementModels>

@{
    ViewBag.Title = "ReadEtablissements";
}

<h2>Etablissements</h2>

<div class="create">
     @Html.ActionLink("Création d'un nouvel établissement", "CreateEtablissement")
</div>

<div id="search">
@using(Ajax.BeginForm("SearchEtablissements", "GestionDesClasses",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "etablissement"
    }))
{
  <input type="text" name="query" />
  <input type="submit" value="Filtrer par nom" /> 
}
</div>

@Html.Partial("_etablissementsList")