

@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<AcademieModels>

@{
    ViewBag.Title = "ReadAcademies";
}

<h2>Académies</h2>

<div class="create">
    @Html.ActionLink("Création d'une nouvelle académie", "CreateAcademie")
</div>

<div id="search">
@using(Ajax.BeginForm("SearchAcademies", "GestionDesClasses",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "academie"
    }))
{
  <input type="text" name="query" />
  <input type="submit" value="Filtrer par nom" /> 
}
</div>

@Html.Partial("_academiesList")
