@using GestionScolaire.Areas.GestionDesClasses.Models
@model ClasseModels

@{
    ViewBag.Title = "Details";
}

<h2>classe @Model.title</h2>

<table class="table">
    <tr>
        <td>@Model.title</td>
        
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "EditClasse", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "ReadClasses")
</p>