
@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<AcademieModels>

@{
    ViewBag.Title = "ReadAcademies";
}

<h2>Académies</h2>

<div class="create">
    @Html.ActionLink("Création d'une nouvelle académie", "CreateAcademie")
</div>

@using(Ajax.BeginForm("SearchAcademies", "GestionDesClasses",
    new AjaxOptions
    {
        @*HttpMethod ="get",*@
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "academie"
    }))
{
    string query="";
    @Html.EditorFor(x => query)
  @*<input type="text" name="query" />  *@
  <input type="submit" value="Search By Name" /> 
}


@Html.Partial("_academiesList")
