@{
    ViewBag.Title = "index";
}

<h2>index</h2>

 @Html.ActionLink("Afficher les academies", "ReadAcademies", "GestionDesClasses", null, null)
 @Html.ActionLink("Afficher les etablissements", "ReadEtablissements", "GestionDesClasses", null, null)
 @Html.ActionLink("Afficher les Classes", "ReadClasses", "GestionDesClasses", null, null)