@using GestionScolaire.Areas.Eval.Models
@model EvaluationModels

@{
    ViewBag.Title = "Delete";
}

<h2>Suppresion de  @Model.date</h2>

@Html.ValidationSummary(true)

@{Html.BeginForm("DeleteEvaluation", "Eval", FormMethod.Post);}
@Html.HiddenFor(model => model.id)
<h3>Voulez-vous vraiment supprimer cet élément???</h3>
<br />
<div id="suppression">
        <button>Oui</button>
        <button type="button">@Html.ActionLink("Non", "Index", "Eval")</button>
    </div>
@{Html.EndForm();}
